*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-family: 'Titillium Web', sans-serif;
}

.container {
    max-width: 1200px;
    width: 96vw;
    margin: auto;
}

nav {
    background-color: #101522;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    color: #ffffff;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li {
    list-style-type: none; 
}

ul > li:not(:last-child) {
    margin-right: 2rem;   
}

a {
    text-decoration: none;
}

ul li > a {
    color: #ffffff;
}

.header {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.header > h1 {
    font-family: 'Yusei Magic', sans-serif;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: .6;
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.edit-form {
    width: 50%;
}

input, button {
    margin: .5rem 0;
    padding: .5rem;
    border-radius: .5rem;
    border: 1px solid #000000;
    outline-width: 0;
    /* width: 100%; */
}

button {
    cursor: pointer;
    background-color: #08c1e2;
    font-weight: bold;
}

.details {
    display: flex;
    justify-content: space-between;
}

.info {
    flex: .4;
}

table {
    width: 100%;
    margin-top: .5rem;
}

table, tr, th, td {
    border: 1px solid lightgray;
    border-collapse: collapse;
    padding: .3rem;
    text-align: center;
}

td > a:first-child{
    margin-right: .5rem;
}

td:last-child {
    display: flex;
    align-items: center;
}

.delete {
    border-radius: 0;
    color: rgb(111, 0, 46);
    margin: 0;
    padding: 0;
    outline-width: 0;
    background-color: whitesmoke;
}

.edit {
    color: #101522;    
}